apiVersion: v1
items:
  - apiVersion: v1
    kind: Service
    metadata:
      name: vmbc-mongodb
    spec:
      ports:
        - port: 27017
          targetPort: 27017
          protocol: TCP
      selector:
        app: vmbc-mongodb
  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: vmbc-mongodb
    spec:
      replicas: 1
      selector:
        matchLabels:
          app: vmbc-mongodb
      template:
        metadata:
          labels:
            app: vmbc-mongodb
        spec:
          containers:
            - name: vmbc-mongodb
              env:
                - name: COMPOSE_HTTP_TIMEOUT
                  value: "900"
                - name: DOCKER_CLIENT_TIMEOUT
                  value: "900"
              image: mongo:5.0.8
              imagePullPolicy: IfNotPresent
          restartPolicy: Always
    status: {}
kind: List
metadata: {}

