
.card-max-width {
  max-width: 600px;
}

:host {
  padding: 0.3rem 0.5rem;
  display: block;
}

:host ::ng-deep clr-input-container {
  label {
    white-space: nowrap;
  }
}

.minting-input {
  width: 240px;
}

.gray-minting {
  filter: grayscale(80%);
}

.mint-button-cont {
  display: block;
  float: right;
  height: 0;
  margin-top: -0.2rem;
}
.mint-button {
  offset: default;
}

@media screen and (max-width: 768px) {
  .mint-button-cont {
    float: left;
    height: 2.5rem;
  }
  .mint-button {
    min-width: 50vw;
    width: 100%;
  }
  
}
