<div class="mint-button-cont">
  <button class="btn btn-success mint-button" (click)="mintingFormReset(); mintingModalShown=true">Mint New Token</button>
</div>
<div style="height: 0.55rem;"></div>


<clr-modal [(clrModalOpen)]="mintingModalShown" [clrModalSize]="'sm'" #mintingModal>
  <h3 class="modal-title">Mint a New Art NFT</h3>
  <div class="modal-body">
    <form [formGroup]="mintingForm">
      <clr-input-container style="margin-top: 0.2rem;">
        <label>Title</label>
        <input placeholder="Title of this artwork" clrInput formControlName="title" id="title" class="minting-input" (keyup)="mintingDelayedValidation($event, 'title')"/>
        <clr-control-error>Title is required</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Artist Name</label>
        <input placeholder="The artist's name" clrInput formControlName="artistName" id="artistName" class="minting-input" (keyup)="mintingDelayedValidation($event, 'artistName')"/>
        <clr-control-error>Artist name is required</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Image URL</label>
        <input placeholder="URL of target image" clrInput formControlName="imageUrl" id="imageUrl" class="minting-input" (keyup)="mintingDelayedValidation($event, 'imageUrl')"/>
        <clr-control-error>Valid image url is required</clr-control-error>
      </clr-input-container>
      <div style="height:1rem;"></div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="mintingModalShown=false">Cancel</button>
    <button type="button"
      [ngClass]="{'btn': true, 'btn-success': true, 'gray-minting': !mintingFormValidity}"
      (click)="mintingHandle()">Mint</button>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="mintingResultModalShown" [clrModalSize]="'lg'">
  <h3 class="modal-title">Minting Outcome</h3>
  <div class="modal-body" style="max-height:500px; overflow-y: scroll;">
    <div *ngIf="mintingResultHasError" class="alert alert-danger">
      <div class="alert-items">
        <div class="alert-item static" role="alert">
          <div class="alert-icon-wrapper"><cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon></div>
          <span class="alert-text">{{ mintingResultModalMessage }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="!mintingResultHasError" class="alert alert-success">
      <div class="alert-items">
        <div class="alert-item static" role="alert">
          <div class="alert-icon-wrapper"><cds-icon class="alert-icon" shape="check-circle"></cds-icon></div>
          <span class="alert-text">{{ mintingResultModalMessage }}</span>
        </div>
      </div>
    </div>
    <pre style="padding-right: 0.5rem; overflow: scroll;">{{ mintingResultModalData }}</pre>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="mintingResultModalShown=false">OK</button>
  </div>
</clr-modal>


<clr-tabs>
  <clr-tab>
    <button clrTabLink>All NFTs</button>
    <clr-tab-content *clrIfActive>
      <app-digital-arts-grid [arts]="arts"></app-digital-arts-grid>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Owned NFTs</button>
    <clr-tab-content>
      <app-digital-arts-grid [arts]="artsOwnedByMe"></app-digital-arts-grid>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Minted by You</button>
    <clr-tab-content>
      <app-digital-arts-grid [arts]="artsMintedByMe"></app-digital-arts-grid>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Transferred</button>
    <clr-tab-content>
      <app-digital-arts-grid [arts]="artsTradedAway"></app-digital-arts-grid>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
