<div class="gany-grid" style="margin-top: 1rem; ">
  <div *ngIf="arts.length === 0">No NFT matching criteria.</div>
  <ng-template ngFor let-art [ngForOf]="arts">
    <div [attr.id]="'digital-art-grid-token-' + art.tokId" class="card" style="max-width: 48vw; display: flex; min-width: 15.5rem; margin: 0; display: inline-block;">
      <div class="card-img" style="min-height: 50px; max-height:500px; overflow-y:hidden; cursor: pointer;" (click)="goToArt(art)">
        <img
          [src]="art.effectiveImageUrl"
          onerror="if (this.src != 'assets/img/img_not_found.png') { this.src = 'assets/img/img_not_found.png'; }" 
          />
      </div>
      <div class="card-block">
        <h4 class="card-title">{{ art.title }}</h4>
        <p class="card-text">
          <!-- <span style="font-size: 75%;">by</span> -->
          {{ art.artistName }}
        </p>
      </div>
    </div>
  </ng-template>
</div>
