FEATURE_db_checkpoints: true
c_val: 0
client_batching_enabled: false
client_proxies_per_replica: 1
concord-bft_communication_buffer_length: 1000000
concord-bft_max_external_message_size: 1000000
concord-bft_max_num_of_reserved_pages: 20000
concord-bft_max_reply_message_size: 1000000
concurrent_pruning_enabled: false
consensus_batching_policy: 0
create_tee_genesis_block: true
daml_ee_proxy_new_enable: true
daml_enable: false
db_checkpoint_diskspace_threshold: 0.5
db_checkpoint_duration: 21600
dbcheckpoint_window: 30000
enable_memory_pool_in_preprocessor: true
enable_multiplex_channel: true
encrypted_config_enabled: false
eth_enable: true
eth_permissioning_read_enabled: false
eth_permissioning_write_enabled: false
event_group_enable: false
f_val: 1
full_initial_key_exchange: false
insecure_thin_replica_server: false
num_client_proxies: 4
num_of_client_services: 1
num_of_external_clients: 51
num_of_rocksdbcheckpoints: 2
num_principals: 8
num_replicas: 4
num_ro_replicas: 0
on_chain_request_persist: DISABLE
operator_enabled: true
operator_msg_signing_algorithm: EDDSA
perf_enable: false
preexec_result_verification: true
preexecution_enabled: false
preprepare_finalize_async_enabled: true
publish_master_key: false
replica_msg_signing_algorithm: EDDSA
rocksdb_block_cache_bytes: 8589934592
rocksdb_config_file: /concord/config-local/rocksdb_config_concord.ini
rocksdb_row_cache_bytes: 8589934592
save_client_pub_key: true
secrets_url: ""
signing_key_path: /concord/config-public
tee_enable: false
thin_replica_tls_cert_path: /config/concord/config-local/trs_tls_certs
time_service_hard_limit_millis: 30000
time_service_soft_limit_millis: 500
tls_1_3_comm_enabled: true
tls_certificates_folder_path: /concord/config-local/tls_certs
transaction_signing_enabled: false
transaction_signing_keys_path: /concord/transaction_signing_keys
update_metrics_aggregator_thresh: 100
use_unified_certificates: true
utt_enabled: true
with_cre: false
node:
  - agent_host: agent
    agent_port: 8546
    store_time_data_in_non_provable_keys: true
    time_source_id: time-source0
    client_proxy:
      - client_host: replica-0
        client_port: 3502
        principal_id: 4
    replica:
      - event_port: 50051
        principal_id: 0
        replica_host: replica-0
        replica_host_uuid: d8986a55-b747-40dd-a597-779e60d74a83
        replica_port: 3501
  - agent_host: agent
    agent_port: 8546
    store_time_data_in_non_provable_keys: true
    time_source_id: time-source1
    client_proxy:
      - client_host: replica-1
        client_port: 3502
        principal_id: 5
    replica:
      - event_port: 50051
        principal_id: 1
        replica_host: replica-1
        replica_host_uuid: 1f19f960-33a8-48d4-8ed1-1eb2cf0c4965
        replica_port: 3501
  - agent_host: agent
    agent_port: 8546
    store_time_data_in_non_provable_keys: true
    time_source_id: time-source2
    client_proxy:
      - client_host: replica-2
        client_port: 3502
        principal_id: 6
    replica:
      - event_port: 50051
        principal_id: 2
        replica_host: replica-2
        replica_host_uuid: b48fdbcd-0de7-4c5b-82ae-10343babadbf
        replica_port: 3501
  - agent_host: agent
    agent_port: 8546
    current_node: true
    daml_execution_engine_addr: daml_execution_engine:55000
    daml_service_addr: 0.0.0.0:50051
    db_checkpoint_path: rocksdbdata/checkpoints
    jaeger_agent: jaeger-agent:6831
    perf_service_addr: 0.0.0.0:50051
    prometheus_port: 9891
    service_host: 0.0.0.0
    service_port: 5458
    store_time_data_in_non_provable_keys: true
    tee_service_addr: 0.0.0.0:50051
    time_source_id: time-source3
    client_proxy:
      - client_host: 127.0.0.1
        client_port: 3502
        principal_id: 7
    replica:
      - event_port: 50051
        principal_id: 3
        replica_host: 127.0.0.1
        replica_host_uuid: a0adcdd7-d7d8-4753-9f74-6f134ddcde60
        replica_port: 3501