active_clients_in_pool: 0
agent_host: agent
agent_port: 8546
c_val: 0
client_batching_enabled: false
client_batching_flush_timeout_ms: 30
client_batching_max_messages_nbr: 40
client_initial_retry_timeout_milli: 5000
client_max_retry_timeout_milli: 10000
client_min_retry_timeout_milli: 5000
client_number_of_standard_deviations_to_tolerate: 2
client_periodic_reset_thresh: 30
client_proxies_per_replica: 1
client_samples_per_evaluation: 32
client_samples_until_reset: 1000
client_sends_request_to_all_replicas_first_thresh: 4
client_sends_request_to_all_replicas_period_thresh: 2
clients_per_participant_node: 50
comm_to_use: tls
concord-bft_communication_buffer_length: 1000000
concord-bft_max_reply_message_size: 1000000
enable_mock_comm: false
enable_multiplex_channel: true
encrypted_config_enabled: false
f_val: 1
num_of_client_services: 1
num_replicas: 4
num_ro_replicas: 0
prometheus_port: 9873
replicas_master_key_path: .
secrets_url: ""
signing_key_path: resources/signing_keys
tls_1_3_cipher_suite_list: TLS_AES_256_GCM_SHA384
tls_1_3_comm_enabled: true
tls_certificates_folder_path: /config/clientservice/tls_certs
tls_cipher_suite_list: TLS_AES_256_GCM_SHA384
transaction_signing_enabled: false
use_unified_certificates: true
with_cre: false
node:
  - replica:
      - event_port: 50051
        principal_id: 0
        replica_host: replica-0
        replica_host_uuid: 7fb80935-a9ff-422b-b21c-58a23f95234a
        replica_port: 3501
  - replica:
      - event_port: 50051
        principal_id: 1
        replica_host: replica-1
        replica_host_uuid: 160c838d-d28a-48d3-84e1-ffd9240fd71f
        replica_port: 3501
  - replica:
      - event_port: 50051
        principal_id: 2
        replica_host: replica-2
        replica_host_uuid: 68fe424e-258e-4885-9651-36217be9f9a2
        replica_port: 3501
  - replica:
      - event_port: 50051
        principal_id: 3
        replica_host: replica-3
        replica_host_uuid: 709c324a-7408-4488-8e91-980f8d0d5f84
        replica_port: 3501
participant_nodes:
  - participant_node:
      - clientservice_host_uuid: f35e1fa7-121f-430c-ae35-e5057657fa73
        participant_node_host: 0.0.0.0
        principal_id: 58
        external_clients:
          - client:
              - client_port: 3502
                principal_id: 8
          - client:
              - client_port: 3503
                principal_id: 9
          - client:
              - client_port: 3504
                principal_id: 10
          - client:
              - client_port: 3505
                principal_id: 11
          - client:
              - client_port: 3506
                principal_id: 12
          - client:
              - client_port: 3507
                principal_id: 13
          - client:
              - client_port: 3508
                principal_id: 14
          - client:
              - client_port: 3509
                principal_id: 15
          - client:
              - client_port: 3510
                principal_id: 16
          - client:
              - client_port: 3511
                principal_id: 17
          - client:
              - client_port: 3512
                principal_id: 18
          - client:
              - client_port: 3513
                principal_id: 19
          - client:
              - client_port: 3514
                principal_id: 20
          - client:
              - client_port: 3515
                principal_id: 21
          - client:
              - client_port: 3516
                principal_id: 22
          - client:
              - client_port: 3517
                principal_id: 23
          - client:
              - client_port: 3518
                principal_id: 24
          - client:
              - client_port: 3519
                principal_id: 25
          - client:
              - client_port: 3520
                principal_id: 26
          - client:
              - client_port: 3521
                principal_id: 27
          - client:
              - client_port: 3522
                principal_id: 28
          - client:
              - client_port: 3523
                principal_id: 29
          - client:
              - client_port: 3524
                principal_id: 30
          - client:
              - client_port: 3525
                principal_id: 31
          - client:
              - client_port: 3526
                principal_id: 32
          - client:
              - client_port: 3527
                principal_id: 33
          - client:
              - client_port: 3528
                principal_id: 34
          - client:
              - client_port: 3529
                principal_id: 35
          - client:
              - client_port: 3530
                principal_id: 36
          - client:
              - client_port: 3531
                principal_id: 37
          - client:
              - client_port: 3532
                principal_id: 38
          - client:
              - client_port: 3533
                principal_id: 39
          - client:
              - client_port: 3534
                principal_id: 40
          - client:
              - client_port: 3535
                principal_id: 41
          - client:
              - client_port: 3536
                principal_id: 42
          - client:
              - client_port: 3537
                principal_id: 43
          - client:
              - client_port: 3538
                principal_id: 44
          - client:
              - client_port: 3539
                principal_id: 45
          - client:
              - client_port: 3540
                principal_id: 46
          - client:
              - client_port: 3541
                principal_id: 47
          - client:
              - client_port: 3542
                principal_id: 48
          - client:
              - client_port: 3543
                principal_id: 49
          - client:
              - client_port: 3544
                principal_id: 50
          - client:
              - client_port: 3545
                principal_id: 51
          - client:
              - client_port: 3546
                principal_id: 52
          - client:
              - client_port: 3547
                principal_id: 53
          - client:
              - client_port: 3548
                principal_id: 54
          - client:
              - client_port: 3549
                principal_id: 55
          - client:
              - client_port: 3550
                principal_id: 56
          - client:
              - client_port: 3551
                principal_id: 57