<clr-main-container #mainContainer>
  <header class="header-6">
    <div class="branding">
      <a class="nav-link" (click)="goHome()" style="cursor: pointer;">
        <cds-icon shape="vm"></cds-icon>
        <span id='title' class="title">Artemis</span>
      </a>
    </div>
    <div class="header-actions">
      <!-- TODO -->
      <!-- <span>{{ digitalArtsService.mainContractAddress }}</span> -->
      <form clrForm [formGroup]="addressForm">
        <clr-input-container id="smart-contract-address-input">
          <label style="width: 80px; color: #cccccc; margin-top: 0.25rem; font-size: 100%; font-family: 'Courier New', Courier, monospace;">{{
            'Contract'
          }}</label>
          <input clrInput
                formControlName="address"
                style="color: #eeeeee; width: 430px; font-family: 'Courier New', Courier, monospace; font-weight: bold; margin-left: 0.3rem;"
                (change)="smartContractAddressChange($event)"
                [value]="digitalArtsService.mainContractAddress"
                placeholder="NFT Smart Contract Address"
                spellcheck="false"
                (keyup.enter)="smartContractAddressFlush($event)" 
                readonly/>
          <clr-control-error style="color: #FF9999; margin-left: 0.65rem; margin-top: 0.15rem;">{{ contractAddressErrorMessage }}</clr-control-error>
        </clr-input-container>
      </form>
      <!-- <cds-icon
        *ngIf="digitalArtsService.mainContractStatus === 'CONNECTED'"
        shape="success-standard"
        style="margin-top: 0.9rem; margin-left: 0.75rem;"
      ></cds-icon> -->
      <cds-icon
      shape="success-standard"
      style="margin-top: 0.9rem; margin-left: 0.75rem; margin-right: 0.65rem;"
      ></cds-icon>
      <!-- <span *ngIf="digitalArtsService.mainContractStatus !== 'CONNECTED'">({{ digitalArtsService.mainContractStatus }})</span> -->
      <!-- <span *ngIf="digitalArtsService.mainContractStatus !== 'NOT_FOUND'" style="margin-right: 1rem"></span>
      <button *ngIf="digitalArtsService.mainContractStatus === 'NOT_FOUND' || digitalArtsService.mainContractStatus === 'BAD_ADDRESS'" type="button" class="btn btn-primary"
              style="margin-left: 0.65rem; margin-top: 0.5rem;" (click)="deployNewNftContract()">
        Deploy New Contract
      </button> -->
    </div>
  </header>
  <div id='sidemenu' class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>

<clr-modal [(clrModalOpen)]="deploymentResultModalShown" [clrModalSize]="'lg'">
  <h3 class="modal-title">Deployment Outcome</h3>
  <div class="modal-body" style="max-height:500px; overflow-y: scroll;">
    <div *ngIf="deploymentResultHasError" class="alert alert-danger">
      <div class="alert-items">
        <div class="alert-item static" role="alert">
          <div class="alert-icon-wrapper"><cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon></div>
          <span class="alert-text">{{ deploymentResultModalMessage }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="!deploymentResultHasError" class="alert alert-success">
      <div class="alert-items">
        <div class="alert-item static" role="alert">
          <div class="alert-icon-wrapper"><cds-icon class="alert-icon" shape="check-circle"></cds-icon></div>
          <span class="alert-text">{{ deploymentResultModalMessage }}</span>
        </div>
      </div>
    </div>
    <pre style="padding-right: 0.5rem; overflow: scroll;">{{ deploymentResultModalData }}</pre>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="deploymentResultModalShown=false">OK</button>
  </div>
</clr-modal>