@import './variables.scss';

@if variable-exists(i18n_fonts_hebrew_default) {
  @import url('https://fonts.googleapis.com/earlyaccess/notosanshebrew.css');
  .i18n-hebrew * {
    font-family: 'Noto Sans Hebrew', sans-serif !important;
  }
}

@if variable-exists(i18n_fonts_hindi_default) {
  @import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
  .i18n-hindi * {
    font-family: 'Hind', sans-serif !important;
  }
}

@if variable-exists(i18n_fonts_tamil_default) {
  @import url('https://fonts.googleapis.com/earlyaccess/karlatamilupright.css');
  .i18n-tamil * {
    font-family: 'Karla Tamil Upright', sans-serif !important;
  }
}

@if variable-exists(i18n_fonts_chinese_sc_default) {
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');
  .i18n-chinese_sc * {
    font-family: 'Noto Sans SC', sans-serif !important;
  }
}

@if variable-exists(i18n_fonts_chinese_tc_default) {
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
  .i18n-chinese_tc * {
    font-family: 'Noto Sans TC', sans-serif !important;
  }
}

@if variable-exists(i18n_fonts_japanese_default) {
  @import url('https://fonts.googleapis.com/earlyaccess/hannari.css');
  .i18n-japanese * {
    font-family: 'Hannari', sans-serif !important;
  }
}

@if variable-exists(i18n_fonts_korean_default) {
  @import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');
  .i18n-korean * {
    font-family: 'Nanum Gothic', sans-serif !important;
  }
}
