/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

@import './app/ganymede/styles/global.default.scss';

* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
}

.sidenav .sidenav-content > .nav-link {
  width: calc(100% - 1.525rem);
  padding-right: 0.1rem;
}

@import './i18n-fonts.scss';

@import './app/ganymede/styles/theme/themes-override.scss';

@import './global.scss';
