<clr-tabs clrLayout="vertical">
  <clr-tab>
    <button clrTabLink>Art NFT Scenario</button>
    <clr-tab-content *clrIfActive>
      <h3>Generate Art Tokens from Tester Account</h3>
      <div style="margin: 1rem 0rem;">
        This will generate about 50 or so art NFT, minted by a randomly generated account for testing purposes.
      </div>
      <button class="btn btn-success mint-button" (click)="nftArtsScenario();">
        Generate Mock Art NFTs
      </button>
      <div style="height: 1rem;"></div>
      <div #nftOutputArea class="output-area">
        <div class="output-entry" *ngFor="let nftAdded of nftArtsAdded">
          {{ nftAdded.art.title }} - {{ nftAdded.art.artist }} ({{ nftAdded.result.error ? 'FAILURE' : 'SUCCESS' }})
        </div>
      </div>
      <div style="height: 5rem;"></div>
    </clr-tab-content>
  </clr-tab>
  <!-- <clr-tab>
    <button clrTabLink>Management</button>
    <clr-tab-content>
      
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Cloud</button>
    <clr-tab-content>
      
    </clr-tab-content>
  </clr-tab> -->
</clr-tabs>