.output-area {
  width: 100%;
  height: calc(100vh - 17rem); 
  overflow: scroll;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: #222222;
  font-family: 'Courier New', Courier, monospace;
}

.output-entry {
  white-space: nowrap;
  color: #00FF00;
  font-size: 0.75rem;
  line-height: 1;
}