:root {
    /*   color variables */
    --clr-primary: #000;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;
    --clr-gray300: #a7b7be;
    --clr-gray400: #6b7e86;
    --clr-gray500: #425a65;
  
    /*   border radius */
    --radius: 2.2rem;
  }
  
.card-container{

    width: auto;
    max-width: 250px;
    overflow: hidden;
    border-radius: 0.6em;
    background: #22223b;

    box-shadow: 0px 0px 15px -5px;

}

.card-title {
  /* padding-left: 2em;
  padding-right: 2em; */
  padding-top: 0.3em;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: oblique;
  color:white

}
.card-body {
    padding-left: 2em;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:white
  }
.card {
    background: #22223b;
    width: 17em;
    border-radius: 2em;
    margin: 1em;
    overflow: hidden;
    display: flex;

    /* cursor: pointer; */
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
   
  }
  
.image-container img{
    /* overflow: hidden;
    height: 300px;
    width: auto; */
    width: 100%;
    height: 20vw;
    object-fit: cover;
    
 

}
.card-body {
    margin-left: 3.2em;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


.card-btn {
    padding: 0.9rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 1.5rem;
    border: 2px solid var(--clr-primary);
    background: white;
    color: var(--clr-primary);
    border-radius: var(--radius);
    width: 16rem;
    transition: 0.5s;

  }
  .card-btn:hover {
    background-color: #22223b;
    color: white;
  }