.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: absolute;
    padding:32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    border-radius: 1rem;

}

.popup-inner .back-btn{
    position: absolute;
    top:16px;
    right:16px;
    /* background-color: #22223b; */
    /* color: white; */
    padding-right: 1rem;
    
}
