apiVersion: v1
items:
  - apiVersion: v1
    kind: Service
    metadata:
      name: erc20-swap
    spec:
      type: NodePort
      ports:
        - port: 3000
          targetPort: 3000
          protocol: TCP
          nodePort: 31000
      selector:
        app: erc20-swap
  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: erc20-swap
    spec:
      replicas: 1
      selector:
        matchLabels:
          app: erc20-swap
      template:
        metadata:
          labels:
            app: erc20-swap
        spec:
          imagePullSecrets:
          - name: regcred-dapp
          containers:
            - name: erc20-swap
              env:
                - name: VMBC_CHAIN_ID
                  value: "5000"
                - name: VMBC_URL
                  valueFrom:
                    configMapKeyRef:
                      name: dapp-configmap
                      key: VMBC_URL
              image: erc20swap_repo:erc20swap_tag
              imagePullPolicy: Always
              ports:
                - containerPort: 3000
          restartPolicy: Always
    status: {}
kind: List
metadata: {}

