<!-- Copyright 2018 VMware, all rights reserved. -->

<clr-main-container>
  <clr-header class="header-farmer">
    <div class="branding">
      <a href="/" class="nav-link nav-icon">
        <clr-icon shape="link"></clr-icon>
        <span class="title">{{ 'title' | translate }}</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="..." class="nav-link nav-icon">
        <clr-icon shape="plus"></clr-icon>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          Farmer
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="..." clrDropdownItem>Preferences</a>
          <a href="..." clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</clr-main-container>
