apiVersion: v1
items:
  - apiVersion: v1
    kind: Service
    metadata:
      name: vmbc-explorer
    spec:
      type: NodePort
      ports:
        - port: 80
          targetPort: 80
          protocol: TCP
          nodePort: 32000
      selector:
        app: vmbc-explorer
  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: vmbc-explorer
    spec:
      replicas: 1
      selector:
        matchLabels:
          app: vmbc-explorer
      template:
        metadata:
          labels:
            app: vmbc-explorer
        spec:
          imagePullSecrets:
          - name: regcred-explorer
          containers:
            - name: vmbc-explorer
              env:
                - name: VMBC_URL
                  valueFrom:
                    configMapKeyRef:
                      name: explorer-configmap
                      key: VMBC_URL
              image: explorer_repo:explorer_tag
              imagePullPolicy: IfNotPresent
              ports:
                - containerPort: 80
          restartPolicy: Always
    status: {}
kind: List
metadata: {}

