c_val: 0
client_initial_retry_timeout_milli: 150
client_max_retry_timeout_milli: 1000
client_min_retry_timeout_milli: 50
client_number_of_standard_deviations_to_tolerate: 2
client_periodic_reset_thresh: 30
client_proxies_per_replica: 1
client_samples_per_evaluation: 32
client_samples_until_reset: 1000
client_sends_request_to_all_replicas_first_thresh: 2
client_sends_request_to_all_replicas_period_thresh: 2
clients_per_participant_node: 50
comm_to_use: tls
concord-bft_communication_buffer_length: 16777216
enable_mock_comm: false
enable_multiplex_channel: true
encrypted_config_enabled: false
f_val: 1
num_of_client_services: 1
num_replicas: 4
num_ro_replicas: 0
prometheus_port: 9873
replicas_master_key_path: .
secrets_url: ""
signing_key_path: /concord/config-public
tls_1_3_cipher_suite_list: TLS_AES_256_GCM_SHA384
tls_1_3_comm_enabled: true
tls_certificates_folder_path: /config/clientservice/tls_certs
tls_cipher_suite_list: TLS_AES_256_GCM_SHA384
transaction_signing_enabled: false
use_unified_certificates: true
node:
  - replica:
      - event_port: 50051
        principal_id: 0
        replica_host: replica-0
        replica_host_uuid: d8986a55-b747-40dd-a597-779e60d74a83
        replica_port: 3501
  - replica:
      - event_port: 50051
        principal_id: 1
        replica_host: replica-1
        replica_host_uuid: 1f19f960-33a8-48d4-8ed1-1eb2cf0c4965
        replica_port: 3501
  - replica:
      - event_port: 50051
        principal_id: 2
        replica_host: replica-2
        replica_host_uuid: b48fdbcd-0de7-4c5b-82ae-10343babadbf
        replica_port: 3501
  - replica:
      - event_port: 50051
        principal_id: 3
        replica_host: replica-3
        replica_host_uuid: a0adcdd7-d7d8-4753-9f74-6f134ddcde60
        replica_port: 3501
operator_node:
  - operator_id: 59
    operator_node_host: 0.0.0.0
    operator_port: 3600