<clr-main-container #mainContainer>
  <header class="header-6">
    <div class="branding">
      <a class="nav-link" (click)="goHome()" style="cursor: pointer;">
        <cds-icon shape="vm"></cds-icon>
        <span id='title' class="title">Amrita Vanam</span>
      </a>
    </div>
    <div class="header-actions">
      <!-- TODO -->
      <!-- <span>{{ digitalArtsService.mainContractAddress }}</span> -->
      <form clrForm [formGroup]="addressForm">
        <clr-input-container1 id="reward-points-input">
          <br>
          <label style="width: 80px; color: #cccccc; font-weight: bold; margin-right: 10.0rem; margin-left: 30.0rem; font-size: 125%; font-family: 'Courier New', Courier, monospace;">{{
            'Reward Points: 100'
          }}</label>
        </clr-input-container1>
      </form>
    </div>
  </header>
  <div id='sidemenu' class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>

<clr-modal [(clrModalOpen)]="deploymentResultModalShown" [clrModalSize]="'lg'">
  <h3 class="modal-title">Deployment Outcome</h3>
  <div class="modal-body" style="max-height:500px; overflow-y: scroll;">
    <div *ngIf="deploymentResultHasError" class="alert alert-danger">
      <div class="alert-items">
        <div class="alert-item static" role="alert">
          <div class="alert-icon-wrapper"><cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon></div>
          <span class="alert-text">{{ deploymentResultModalMessage }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="!deploymentResultHasError" class="alert alert-success">
      <div class="alert-items">
        <div class="alert-item static" role="alert">
          <div class="alert-icon-wrapper"><cds-icon class="alert-icon" shape="check-circle"></cds-icon></div>
          <span class="alert-text">{{ deploymentResultModalMessage }}</span>
        </div>
      </div>
    </div>
    <pre style="padding-right: 0.5rem; overflow: scroll;">{{ deploymentResultModalData }}</pre>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="deploymentResultModalShown=false">OK</button>
  </div>
</clr-modal>
