c_val: 0
client_initial_retry_timeout_milli: 150
client_max_retry_timeout_milli: 1000
client_min_retry_timeout_milli: 50
client_msg_signing_algorithm: EDDSA
client_number_of_standard_deviations_to_tolerate: 2
client_periodic_reset_thresh: 30
client_proxies_per_replica: 1
client_samples_per_evaluation: 32
client_samples_until_reset: 1000
client_sends_request_to_all_replicas_first_thresh: 2
client_sends_request_to_all_replicas_period_thresh: 2
clients_per_participant_node: 10
comm_to_use: tls
concord-bft_communication_buffer_length: 16777216
concord-bft_max_reply_message_size: 1048576
enable_mock_comm: false
enable_multiplex_channel: true
encrypted_config_enabled: false
f_val: 1
num_of_client_services: 12
num_replicas: 4
num_ro_replicas: 0
operator_msg_signing_algorithm: EDDSA
prometheus_port: 9873
replicas_master_key_path: .
secrets_url: ""
signing_key_path: /concord/config-public
tls_1_3_cipher_suite_list: TLS_AES_256_GCM_SHA384
tls_1_3_comm_enabled: true
tls_certificates_folder_path: /config/clientservice/tls_certs
tls_cipher_suite_list: TLS_AES_256_GCM_SHA384
transaction_signing_enabled: false
use_unified_certificates: true
node:
  - replica:
      - event_port: 50051
        principal_id: 0
        replica_host: replica-0
        replica_host_uuid: 511ac7b2-0ec2-4cf8-b1b4-02a65ee1c88c
        replica_port: 3501
  - replica:
      - event_port: 50051
        principal_id: 1
        replica_host: replica-1
        replica_host_uuid: aaeca8ef-36b1-4174-8e3e-95f580807484
        replica_port: 3501
  - replica:
      - event_port: 50051
        principal_id: 2
        replica_host: replica-2
        replica_host_uuid: f4e8dff2-2b1e-4259-b851-dc938db4d886
        replica_port: 3501
  - replica:
      - event_port: 50051
        principal_id: 3
        replica_host: replica-3
        replica_host_uuid: 39e21b64-5299-425b-aef7-60055dd2855c
        replica_port: 3501
operator_node:
  - operator_id: 140
    operator_node_host: 0.0.0.0
    operator_port: 3600