<div class="clr-row">
    <div class="clr-col-md-12 clr-col-lg-6">
        <div class="card">
            <div class="card-header">
                Orders
            </div>
            <div class="card-block">
                <div class="card-text">
                    <vmw-sc-order-list> </vmw-sc-order-list>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-col-md-12 clr-col-lg-6">
        <!--vmw-sc-blockchain-status> </vmw-sc-blockchain-status-->
    </div>
</div>
