.foo {
    margin-left: 60px;
}
.buttons{
    padding-right: 32px;
}
.modal-body{  
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.failed{
    background-color: red;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.failedWrap{
    max-width: 600px;
    white-space: break-spaces;
    display: inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}
.success{
    background-color: green;
    color: white;
    text-align: center;
}