<form clrForm>
  <div class="clr-row clr-justify-content-start">
    <div class="clr-col-3 ">
      <clr-input-container>
        <label class="clr-control-label">
           <style>
          div {
            white-space: nowrap;
          }
          </style>From Address</label>
   
        <input placeholder="Address" class="foo" clrInput [(ngModel)]="fromAddress" name="fromAddress" required (change)="onFromAddressChange($event)"/>
        <clr-control-error>From Address field is required!</clr-control-error>
      </clr-input-container>
    </div>

    <div class="clr-col">
      <button class="btn btn-primary" (click)="checkPermissions($event)">Check Permissions</button>
    </div>
  </div>

  <div class="clr-row clr-justify-content-start">
    <div class="clr-col-1">
      <clr-input-container>
        <label class="clr-control-label">Permissions</label>
      </clr-input-container>
    </div>
    <div class="clr-col-1">
      <div class="clr-form-control">
        <div class="checkbox-inline">
          <input type="checkbox" id="readPermission" name="checkbox-full-1" value="readPermission" class="clr-checkbox" (change)="onReadPermissionChange($event)">
          <label for="readPermission">Read</label>
        </div>
        <div class="checkbox-inline">
          <input type="checkbox" id="writePermission" name="checkbox-full-2" value="writePermission" class="clr-checkbox" (change)="onWritePermissionChange($event)"/>
          <label for="writePermission">Write</label>
        </div>
       <div class="checkbox-inline disabled">
          <input type="checkbox" id="deployPermission" name="checkbox-full-3" value="deployPermission" class="clr-checkbox" (change)="onDeployPermissionChange($event)"/>
          <label or="deployPermission">Deploy</label>
        </div>
      </div>
    </div>

    <div class="clr-col-2 clr-offset-sm-1">
      <button class="btn btn-primary buttons" (click)="setPermissions($event)">Set Permissions</button>
    </div>
  </div>
</form>

<div class="modal" *ngIf="permissionModal">
  <div class="modal-dialog modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="modal-header">
              <button aria-label="Close" class="close" type="button" (click)="onCloseModal()">
                  <clr-icon aria-hidden="true" shape="close"></clr-icon>
              </button>
              <h3 class="modal-title">Permissions</h3>
          </div>
          <div class="modal-body">
          <div [ngClass]="checkPermissions" > 
            <strong>Address: </strong>{{fromAddress}}
           </div>
          <div [ngClass]="checkPermissions"  *ngIf="readVisible"><strong>Read: </strong> {{map.get("Read")}}</div>
          <div [ngClass]="checkPermissions"  *ngIf="writeVisible"><strong>Write: </strong> {{map.get("Write")}}</div>
          <div [ngClass]="checkPermissions"  *ngIf="deployVisible"><strong>Deploy: </strong>{{map.get("Deploy")}}</div>
          <div [ngClass]="checkPermissions"  *ngIf="alertFailure"> No Permission Given </div>
          <div class="failed" [ngClass]="setPermissions" *ngIf="responseHashFailed"> <p class="failed"><strong>Failed Transaction!</strong></p></div>
          <div class="modal-body" [ngClass]="setPermissions" *ngIf="responseHashFailed"> <div class="failedWrap"><strong>Message: </strong>{{errorMessage}}</div></div>
          <div class="modal-body" [ngClass]="setPermissions" *ngIf="responseHashFailed"> <div class="failedWrap"><strong>Data: </strong>{{errorData}}</div></div>
          <div [ngClass]="setPermissions" *ngIf="responseHash"> <p class="success"><strong>Successful Transaction!</strong></p></div>
          <div class="modal-body" [ngClass]="setPermissions" *ngIf="responseHash">{{response.hash}}</div>
          </div>
      </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>

</div>
