FEATURE_time_service: false
adaptive_batching_dec_cond: 0.5
adaptive_batching_inc_factor: 0.1
adaptive_batching_intermediate_inc_cond: 0.9
adaptive_batching_max_inc_cond: 0.95
adaptive_batching_min_inc_cond: 0.75
batched_inter_replica_comm_enabled: true
batching_factor_coefficient: 4
block_accumulation_on_post_execution: true
blockchain_db_impl: rocksdb
blockchain_db_path: rocksdbdata
blockchain_imp_version: 4
blockchain_storage_type: merkle
client_batching_enabled: false
client_batching_max_messages_nbr: 40
comm_to_use: tls
command_recording_enable: false
command_recording_output_dir: /concord/log/recorded_commands
concord-bft_communication_buffer_length: 2097152
concord-bft_communication_buffer_length_eth: 70000000
concord-bft_enable_debug_statistics: false
concord-bft_max_external_message_size: 2097152
concord-bft_max_num_of_reserved_pages: 100000
concord-bft_max_reply_message_size: 2097152
concord-bft_request_processing_concurrency_level1: 40
concord-bft_request_processing_concurrency_level2: 24
concurrency_level: 5
consensus_batch_flush_period: 100
consensus_batching_policy: 0
enable_bft_metrics: true
enable_metrics: true
enable_multiplex_channel: true
enable_post_execution_separation: true
gas_limit: 10000000
genesis_block: /concord/config-public/genesis.json
key_exchange_on_start: true
key_view_path: /concord/config-generated
logger_config: /concord/resources/log4cplus.properties
logger_reconfig_time: 60000
lru_cache_capacity: 10000
max_consensus_batch_size_in_bytes: 33554432
max_execution_engine_read_per_requests: 10
max_initial_batch_size: 350
max_num_of_requests_in_consensus_batch: 80
maximum_block_lookup_limit: 10000
on_chain_request_size_filter: 5242880
operator_msg_signing_algorithm: EDDSA
perf_slowdown_config_path: ""
post_execution_queues_size: 50
pre_execute_all_requests: false
preexec_concurrency_level: 96
preexec_requests_status_check_period_millisec: 1000
pruning_duration_to_keep_minutes: 20160
pruning_enabled: true
pruning_num_blocks_to_keep: 0
replica_msg_signing_algorithm: EDDSA
size_of_internal_thread_pool: 8
status_time_interval: 3000
time_pusher_period_ms: 1000
time_service_bft_epsilon_millis: 1
time_service_block_accumulation_epsilon_micros: 1
time_service_v2_enabled: true
time_verification: none
use_loopback_for_local_hosts: true
use_unified_certificates: true
view_change_timeout: 20000
with_conflict_detection: true
node:
  - FEATURE_daml_pipelined_commits: true
    client_proxy:
      - {}
    replica:
      - {}
  - FEATURE_daml_pipelined_commits: true
    client_proxy:
      - {}
    replica:
      - {}
  - FEATURE_daml_pipelined_commits: true
    client_proxy:
      - {}
    replica:
      - {}
  - FEATURE_daml_pipelined_commits: true
    api_worker_pool_size: 3
    bft_client_timeout_ms: 4294967295
    current_node: true
    daml_service_threads: 32
    perf_service_threads: 32
    tee_service_threads: 32
    transaction_list_max_count: 10
    client_proxy:
      - {}
    replica:
      - {}