.bg-gif {
  width: 100vw;
  min-width: 800px;
  opacity: 0.15;
}

.title-text {
  margin-left: 20%;
  padding-top: 8%;
  font-size: 5rem;
  line-height: 5rem;
  color: white;
  opacity: 0.9;
}

.subtitle-text {
  margin-left: 2%;
  font-size: 1.5rem;
  line-height: 3rem;
  color: white;
  opacity: 0.8;
}

.member-text {
  margin-left: 5%;
  padding-top: 4%;
  font-size: 1.5rem;
  line-height: 2.5rem;
  opacity: 0.6;
}
