<div style="height: 0; width: 100%; z-index:1; position:relative">
  <div class="title-text">
    <div class="subtitle-text">
      2021 August - Intern Project/2022 October - Ethereum SDK Sample Dapp
    </div>
    Digital Art NFT
    <div class="subtitle-text">
      on VMBC Ethereum Network
    </div>
    <div class="member-text">
      Tensaiye Zelealem<br>
      Harsh Bhavsar<br>
      Abhijit Mande<br>
      Joe Kim<br>
      Akhil Malepati<br>
      Kevin Xu<br>
    </div>
  </div>
</div>
<div style="width: 100%; height: 100%; background-color: black; overflow: hidden; z-index:0; position:relative">
  <div style="width: 100%; height: 0;">
    <img class="bg-gif" src="assets/img/landing-gif3.gif"/>
  </div>
</div>
